@model List<Weblog.Models.DTOs.PublicationWithAuthorInfo>

<script>
    $(document).ready(function () {
        $(".showComments").click(function (e) {
            e.preventDefault();

            // Obtén el contenedor de comentarios y el ID de la publicación
            var commentsContainer = $(this).siblings(".commentsContainer");
            var publicationId = $(this).data("publication-id");

            // Obtén el botón "Show Comments" de la publicación correspondiente
            var button = $(this);

            // Si los comentarios ya están visibles, oculta el contenedor y cambia el texto del botón a "Show Comments"
            if (commentsContainer.is(":visible")) {
                commentsContainer.slideUp();
                button.text("Mostrar comentarios");
            } else {
                // Si los comentarios no están visibles, realiza una solicitud AJAX para obtenerlos y muestra el contenedor
                $.ajax({
                    url: '/Home/CommentsByPublication',
                    type: 'GET',
                    data: { publicationId: publicationId },
                    success: function (result) {
                        commentsContainer.html(result);  // Agrega los comentarios al contenedor
                        commentsContainer.slideDown();  // Desliza hacia abajo para mostrar los comentarios
                        button.text("Ocultar comentarios");  // Cambia el texto del botón a "Hide Comments"
                    },
                    error: function () {
                        alert("Fallo al cargar los comentarios");
                    }
                });
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

@foreach (var publication in Model)
{
    <article class="blog-post mb-4 border rounded">
        <div class="m-4">
            <h3>@publication.Title      <small class="text-muted text-sm">@publication.Date.ToShortDateString()</small></h3>
            @{
                var base64String = Convert.ToBase64String(publication.Image);
                var imageSource = $"data:image/jpeg;base64,{base64String}";
            }
            <img class="index-image" src="@imageSource">
            <p>
                @{ string publicationHeader = "No body"; }
                @if(publication.Body != null)
                {
                    @if (publication.Body.Length >= 200)
                    {
                        publicationHeader = publication.Body.Substring(0, Math.Min(publication.Body.Length, 200));
                        @publicationHeader
                        <a asp-controller="Publications" asp-route-id="@publication.Id" asp-action="Details">Ver más.</a>
                    }
                    else
                    {
                        publicationHeader = publication.Body;
                        @publicationHeader
                    }
                }
            </p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <ul class="navbar-nav ml-auto">
                        @if (publication.AuthorId != null)
                        {
                            var authorId = publication.AuthorId;
                            <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("PublicationsByAuthor", "Publications", new { authorId })">@publication.AuthorName</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link text-dark disabled">Sin autor</a></li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a class="nav-link text-dark" id="" asp-controller="Publications" asp-route-id="@publication.Id" asp-action="Edit">Editar</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" id="" asp-controller="Publications" asp-route-id="@publication.Id" asp-action="Delete">Eliminar</a></li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="showCommentsContainer mt-2">
                <buttom href="#" class="showComments btn btn-sm btn-secondary btn-block" data-publication-id="@publication.Id">Mostrar comentarios</buttom>
                <div class="commentsContainer" style="display: none;"></div>
            </div>
        </div>
    </article>
}
<nav aria-label="Paginación">
    <ul class="pagination" id="pagination">
        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link pagination-link" href="#" data-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>
