@model Weblog.Models.DTOs.Homepage

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9 left-section">
            @foreach (var publication in Model.Publications)
            {
                <div class="post">
                    <h2 class="post-title">@publication.Title</h2>
                    <p class="text-muted">@publication.Date</p>
                    <img src="" alt="Imagen de la publicación" class="img-fluid mb-2">
                    <p class="post-summary">@publication.Body</p>
                    <p class="text-muted">
                        Autor: <a class="author-link" href="#">Nombre del autor</a>
                        | <a href="#">Ver comentarios (X)</a>
                    </p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            }
            <nav aria-label="Paginación">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 right-section">
            <h4>Autores</h4>
            <ul class="list-group">
                @foreach (var author in Model.Authors)
                {
                    <li class="list-group-item">
                        @{ var authorId = author.Id; }
                        @Html.ActionLink(author.UserName, "PublicationsByAuthor", "Publications", new { authorId }, null)
                    </li>
                }
            </ul>

            <h4 class="mt-4">Categorías</h4>
            <ul class="list-group">
                @foreach (var category in Model.Categories)
                {
                    <li class="list-group-item">
                        @{
                            var categoryId = category.Id;
                        }
                    @Html.ActionLink(category.Name, "PublicationsByCategory", "Publications", new { categoryId }, null)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@*<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9">
            <form class="comment-form">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="comment">Comentario</label>
                    <textarea class="form-control" id="comment" rows="3" maxlength="200" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Agregar comentario</button>
            </form>
        </div>
    </div>
</div>*@