@model Weblog.Models.DTOs.PublicationsCategory

@{
    ViewData["Title"] = "PublicationsByCategory";
}

<h1>Publicaciones de @Model.Category.Name</h1>
@foreach (var publication in Model.Publications)
{
    <article class="blog-post mb-4 border rounded">
        <div class="m-4">
            <h3>@publication.Title      <small class="text-muted text-sm">@publication.Date.ToShortDateString()</small></h3>
            <img class="thumbnail" src="https://via.placeholder.com/850x350">
            <p>
                @{
                    string publicationHeader = "Está vacío aquí";
                }
                @if (publication.Body != null)
                {
                    @if (publication.Body.Length >= 200)
                    {
                        publicationHeader = publication.Body.Substring(0, Math.Min(publication.Body.Length, 200));
                        @publicationHeader;
                        <a asp-action="Details" asp-controller="Publications" asp-route-id="@publication.Id">...</a>
                    }
                    else
                    {
                        publicationHeader = publication.Body;
                        @publicationHeader;
                    }
                }
            </p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <ul class="navbar-nav ml-auto">
                        @if (publication.User.Id != null)
                        {
                            var authorId = publication.User.Id;
                            <li class="nav-item"><a class="nav-link text-dark" href="@Url.Action("PublicationsByAuthor", "Publications", new { authorId })">@publication.User.UserName</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link text-dark disabled">Sin autor</a></li>
                        }
                        <li class="nav-item"><a href="#" class="nav-link text-dark showComments">Show Comments</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a class="nav-link text-dark" id="" asp-controller="Publications" asp-route-id="@publication.Id" asp-action="Edit">Editar</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" id="" asp-controller="Publications" asp-route-id="@publication.Id" asp-action="Delete">Eliminar</a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </article>
}